* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    background-color: blanchedalmond;
    font-family: sans-serif;
}

.titulo {
    margin: 20px;
}

.container {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 40px;
    
}

.caixa-1 {
    background-color: chocolate;
    border-radius: 20px;
    padding: 120px;
}

.caixa-2 {
    background-color: rgb(30, 210, 195);
    border-radius: 20px;
    padding: 120px;
}

.caixa-3 {
    background-color: goldenrod;
    border-radius: 20px;
    padding: 120px;
}